/*Styling*/

h1 {
 width:auto;
 height:auto;
 min-height:auto;
 max-height: auto;
 max-width: auto;
}

h2 {
 color:aqua
}

h3 {
 color:aqua
}

h4 {
 color:aqua
}
 color:aqua
p {
 color:aqua
}

hr {
 color:aqua
}




/*Flexbox*/

header {
    text-align:right;
}

div {
    display: flex;
    flex-direction: row;
}

leftwing {
    flex:1;
}

fuselage {
    flex:2;
}

rightwing {
    flex:4;
    overflow-y: scroll;
}

nav {
 background-color:rgb(128, 57, 39)
}

/*use transform to rotating, scaling, skewing, or translating (moving) them in 2D or 3D space.*/