/*Styling*/

h1 {
 color:aqua
}

h2 {
 
}

h3 {

}

h4 {

}

p {

}

hr {

}




/*Flexbox*/

header {
    text-align:right;
}

.cabin {
    display: flex;
    margin: 
}

.leftwing {
    flex:1;
}

.rightwing {
    flex:4;
}

.fuselage {
    flex:2;
}

#nav
