/*Styling*/

h1 {
 color:aqua
}

h2 {
 color:aqua
}

h3 {
 color:aqua
}

h4 {
 color:aqua
}
 color:aqua
p {
 color:aqua
}

hr {
 color:aqua
}




/*Flexbox*/

header {
    text-align:right;
}

cabin {
    display: flex;
}

leftwing {
    flex:1;
}

rightwing {
    flex:4;
}

fuselage {
    flex:2;
}

#nav {
 color:aqua
}
