<html>
    <head>
        <title>Turbulence's Landing Page</title>
        <meta name="description" content="Turbulence's Main Landing and Blog Page from A to Z"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="" rel="icon" type="image/x-icon" />
        <script src="main.js"></script>
        <link rel="stylesheet" href="CSS/style.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li>about me</li>
                <li>blog</li>
                <li>featured art</li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </body>
</html>